
<h1>Logistics Master</h1>

<ul>
<li><%= link_to 'Providers', controller: 'providers' %></li>
<li><%= link_to 'Phones', controller: 'phones' %></li>
<li><%= link_to 'Customers', controller: 'customers' %></li>
<li><%= link_to 'Delivery Types', controller: 'delivery_types' %></li>
<li><%= link_to 'Orders', controller: 'orders' %></li>
<li><%= link_to 'Shipments', controller: 'shipments' %></li>
<li><%= link_to 'Event Logs', controller: 'event_logs' %></li>
<li><%= link_to 'Credit Cards', controller: 'credit_cards' %></li>
<li><%= link_to 'Receipts', controller: 'receipts' %></li>

