<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_state %><br>
    <%= f.number_field :order_state %>
  </div>
  <div class="field">
    <%= f.label :delivery_type %><br>
    <%= f.text_area :delivery_type %>
  </div>
  <div class="field">
    <%= f.label :full_address %><br>
    <%= f.text_area :full_address %>
  </div>
  <div class="field">
    <%= f.label :shipping_name %><br>
    <%= f.text_area :shipping_name %>
  </div>
  <div class="field">
    <%= f.label :shipping_city %><br>
    <%= f.text_area :shipping_city %>
  </div>
  <div class="field">
    <%= f.label :shipping_state %><br>
    <%= f.text_area :shipping_state %>
  </div>
  <div class="field">
    <%= f.label :shipping_zip %><br>
    <%= f.text_area :shipping_zip %>
  </div>
  <div class="field">
    <%= f.label :shipping_country %><br>
    <%= f.text_area :shipping_country %>
  </div>
  <div class="field">
    <%= f.label :shipping_apt_suite %><br>
    <%= f.text_area :shipping_apt_suite %>
  </div>
  <div class="field">
    <%= f.label :shipping_notes %><br>
    <%= f.text_area :shipping_notes %>
  </div>
  <div class="field">
    <%= f.label :arrival_date %><br>
    <%= f.date_select :arrival_date %>
  </div>
  <div class="field">
    <%= f.label :departure_date %><br>
    <%= f.date_select :departure_date %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_area :language %>
  </div>
  <div class="field">
    <%= f.label :num_phones %><br>
    <%= f.number_field :num_phones %>
  </div>
  <div class="field">
    <%= f.label :fedex_out_code %><br>
    <%= f.text_area :fedex_out_code %>
  </div>
  <div class="field">
    <%= f.label :fedex_return_code %><br>
    <%= f.text_area :fedex_return_code %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :phone_id %><br>
    <%= f.text_field :phone_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
