<p id="notice"><%= notice %></p>

<p>
  <strong>Order state:</strong>
  <%= @order.order_state %>
</p>

<p>
  <strong>Delivery type:</strong>
  <%= @order.delivery_type %>
</p>

<p>
  <strong>Full address:</strong>
  <%= @order.full_address %>
</p>

<p>
  <strong>Shipping name:</strong>
  <%= @order.shipping_name %>
</p>

<p>
  <strong>Shipping city:</strong>
  <%= @order.shipping_city %>
</p>

<p>
  <strong>Shipping state:</strong>
  <%= @order.shipping_state %>
</p>

<p>
  <strong>Shipping zip:</strong>
  <%= @order.shipping_zip %>
</p>

<p>
  <strong>Shipping country:</strong>
  <%= @order.shipping_country %>
</p>

<p>
  <strong>Shipping apt suite:</strong>
  <%= @order.shipping_apt_suite %>
</p>

<p>
  <strong>Shipping notes:</strong>
  <%= @order.shipping_notes %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @order.arrival_date %>
</p>

<p>
  <strong>Departure date:</strong>
  <%= @order.departure_date %>
</p>

<p>
  <strong>Language:</strong>
  <%= @order.language %>
</p>

<p>
  <strong>Num phones:</strong>
  <%= @order.num_phones %>
</p>

<p>
  <strong>Fedex out code:</strong>
  <%= @order.fedex_out_code %>
</p>

<p>
  <strong>Fedex return code:</strong>
  <%= @order.fedex_return_code %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
